name: Test

on:
  workflow_dispatch:

  push:
    branches: 
      - staging

  pull_request:
    branches: 
      - staging

jobs:   
  build:
    runs-on: ubuntu-latest
    env:
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}

    defaults:
      run:
        working-directory: ./airbed

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: ${{ env.DB_USER }}  # This is set as a environment variable
          POSTGRES_PASSWORD: ${{ secrets.DB_PASS }} # This had to be set as a repository secret
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        # This provides a healthcheck for the container and retries
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Setup Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - name: Install dependencies
      working-directory: ./  # requirements.txt located in root
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage
        pip install flake8
    - name: Linting with flake8
      run: flake8
    - name: Run migrations
      run: python manage.py migrate
    - name: Run Django test suite
      run: python manage.py test
    - name: Coverage Report
      run: |
        coverage run manage.py test
        coverage report
