name: Build and deploy

on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Django test suite
        run: python manage.py test  # May need to specify exact path depending on the os.path
